{% extends "header.html" %}
{% block body %}
	<h2>{{name}}</h2>
	<p>{{description}}</p>
	<img src="{{img_url}}">
	<ul>
	{% for comment in commentlist%}
		<li> {{ comment }} </li>
	{% else %}
		<h4>No comment</h4>
	{% endfor %}
	</ul>
	{% for related in related_data%}
	<a href="{{ url_for('show',name=related['name']) }}">
		<div style="width: 150px;">
			<img src="{{ related['img_url'][0] }}" style="height: 100px; width: 100px">
			<h4>{{ related['name'] }}</h4>
		</div>
	</a>
	{% endfor %}

{% endblock %}